
.question-list-container {
  width: 900px;
  height: 800px;
  margin:  auto;
  margin-top:150px;
  padding: 40px 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap:20px;

}

.question-list-container hr{
  height:2px;
  border: 1px solid #ccc;
  background: plum;
}

.question-list-container h2{
  
  font-size: 28px;
  font-weight: 500;

}

.question-list-container ul li{
  display:flex;
  align-items: center;
  height: 70px;
  padding-left:15px ;
  border: 1px solid rgb(209, 16, 187);
  border-radius: 8px;
  margin-bottom:20px;
  font-size:20px;
  cursor: pointer;

}

.question-list-container button{
  margin: auto;
  width: 250px;
  height: 65px;
  background: plum;
  color: black;
  font-size: 25px;
  font-weight: 500;
  border-radius:8px;
  cursor:pointer;
}

.question-list-container .index{
  margin:auto;
  font-size: 18px;
}

.correct{
  background: rgb(133, 233, 209);
  border-color:rgb(58, 212, 160)

}

.wrong{
  background: #eb3939;
  border-color: red;
}